
@model PersonGridModel
@* <h1>View Component Invoked</h1> *@
<h1>@Model.GridTitle</h1>
<div class="box">
    <table class="table w-100">
        <thead>
            <tr>
                <th>
                    Person Name
                </th>
                <th>Job Title</th>
            </tr>
        </thead>
        @foreach(var person in Model.persons)
        {
            <tbody>
                <tr>
                    <td>@person.PersonName</td>
                    <td>@person.JobTitle</td>
                </tr>
                
            </tbody>
        }
        
    </table>
</div>